{{define "title"}}Home{{end}}

{{define "main"}}
    <form id="addItem" action="/items/add/home" method="POST">
        <input type="hidden" name="inCart" value="true">
        {{with .Form.FieldErrors.item}}
            <label class="error">{{.}}</label>
        {{end}}
        <input id="search" list="items" name="item" placeholder="Add item to cart" value="{{.Form.Item}}" autocomplete="off">
        <datalist id="items"></datalist>
        <input type="submit" value="Add">
    </form>
    <div class="listHeader">
        <h1>Grocery List</h1>
        <h3>Total {{formatMoney .Total}}</h3>
    </div>
    {{if .Items}}
     {{range .Items}}
        <div class="item {{if .Purchased}}purchased{{end}}" id="{{.ID}}">
            <p>{{.Name}}</p>
            <div class="itemInfo">
                {{if ne .Price 0.0}}
                <p>{{formatMoney .Price}}</p>
                {{end}}
                <form class="iconButton" action="/items/home/{{.ID}}" method="POST">
                    <input type="hidden" name="purchased" value="{{not .Purchased}}">
                    {{if not .Purchased}}
                        <input class="icon add" type="image" src="/static/img/icon-add.png">
                    {{else}}
                        <input class="icon add" type="image" src="/static/img/icon-remove.png">
                    {{end}}
                </form>
                <form class="iconButton" action="/items/home/{{.ID}}" method="POST">
                    <input type="hidden" name="inCart" value="false">
                    <input class="icon delete" type="image" src="/static/img/icon-remove-from-cart.png">
                </form>
            </div>
        </div>
        {{end}}
        <div class="removeAll">
            <form action="items/remove-all/" method="POST">
                <button>Remove All</button>
            </form>
        </div>
    {{else}}
        <p class="empty">Your cart is empty</p>
    {{end}}
    <script src="/static/javascript/search.js"></script>
{{end}}