{{define "title"}}Pantry{{end}}

{{define "main"}}
   <form id="addItem" action="/items/add/pantry" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        {{with .Form.FieldErrors.item}}
            <label class="error">{{.}}</label>
        {{end}}        
        <input type="text" name="item" placeholder="Add item to pantry" value="{{.Form.Item}}">
        <input type="submit" value="Add">
   </form> 
   {{if .Items}}
        {{range .Items}}
            <div class="item">
                <p>{{.Name}}</p>
                <div class="itemInfo">
                    {{if ne .Price 0.0}}
                        <p>{{formatMoney .Price}}</p>
                    {{end}}
                    <form class="iconButton" action="/items/pantry/{{.ID}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                        <input type="hidden" name="inCart" value="true">
                        <input class="icon add" type="image" src="/static/img/icon-add-to-cart.png">
                    </form>
                    <form class="iconButton" action="/items/update/{{.ID}}" method="GET">
                        <input class="icon edit" type="image" src="/static/img/icon-edit.png">
                    </form>
                    <form class="iconButton" action="/items/delete/{{.ID}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                        <input class="icon delete" type="image" src="/static/img/icon-delete.png">
                    </form>
                </div>
            </div>
        {{end}}
    {{else}}
        <p id="empty">Your pantry seems to be empty. Add some items!</p>
    {{end}}
{{end}}