* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #F1F3F6;
    color: #34495E;
    overflow-y: scroll;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main,
nav,
footer {
    padding: 2px max(calc((100% - 800px) / 2), 20px) 0;
}

main {
    flex: 1;
    margin-top: 54px;
    margin-bottom: 54px;
    min-height: calc(100vh - 345px);
    overflow: auto;
}

a {
    color: #62CB31;
    text-decoration: none;
}

a:hover {
    color: #4EB722;
    text-decoration: none;
}

textarea,
input:not([type="submit"]) 
input#search{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #E4E5E7;

    background: #F7F9FA;
    font-weight: bold;
}

nav form {
    display: inline-block;
    margin-left: 1.5em;
}

nav a {
    margin-left: 1.5em
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.logo img {
    height: 45px;
}

.logo h1 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding-left: 1rem;
}

input[type="submit"] {
    background-color: #62CB31;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 18px 27px;
    border: none;
    display: inline-block;
    margin-top: 18px;
}

input[type="submit"]:hover {
    background-color: #4EB722;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input#search{
    padding: 0.75em 18px;
    width: 100%;
}

form input[type=text],
form input[type="password"],
form input[type="email"],
form input#search,
textarea {
    color: #6A6C6F;
    background: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

form label {
    display: inline-block;
    margin-bottom: 9px;
}

.error {
    color: #C0392B;
    font-weight: bold;
    display: block;
}

.error+textarea,
.error+input {
    border-color: #C0392B !important;
    border-width: 2px !important;
}

textarea 
input#search{
    padding: 18px;
    width: 100%;
    height: 266px;
}

button {
    background: none;
    padding: 0;
    border: none;
    color: #62CB31;
    font-weight: bold;
    text-decoration: none;
}

button:hover {
    color: #4EB722;
    text-decoration: none;
    cursor: pointer;
}

div.flash {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #34495E;
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
}

div.error {
    color: #FFFFFF;
    background-color: #C0392B;
    padding: 18px;
    margin-bottom: 36px;
    font-weight: bold;
    text-align: center;
}

#addItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

#addItem input[type="text"] {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#addItem input[type="submit"]{
    width: 10%;
    min-width: 75px;
    margin: 0;
    padding: 0.75em 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #E4E5E7;
    border-bottom: none;
    position: relative;
}

.item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid #E4E5E7;
}

.itemInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.itemInfo * {
    margin-left: 5px;
}

.iconButton {
    display: flex;
    width: 30px;
    height: 30px;
}

.icon {
    border: 1px solid #bfc0c2;
    border-radius: 3px;
    padding: 2px;
}

.add {
    background-color: #62CB31;
}

.edit {
    background-color: #2196f3;
}

.delete {
    background-color: #c75146;
}

.purchased::before {
    content: "";
    height: 2px;
    width: calc(100% - 20px);
    background-color: #c75146;
    position: absolute;
    left: 10px;
    top: 50%;
}

.listHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #E4E5E7;
    border-bottom: none;
}

.removeAll {
    display: flex;
    justify-content: center; 
    background-color: #FFFFFF;
    border: 1px solid #E4E5E7;
    padding: 10px;
}

.empty {
    display: flex;
    justify-content: center; 
    background-color: #FFFFFF;
    border: 1px solid #E4E5E7;
    padding: 10px;
}

#filter {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

#filter input[type="text"] {
    width: 40% !important;
}

#filter input[type="submit"] {
    width: 10%;
    margin-top: 0;
    margin-left: 0.5rem;
    padding: 0 10px;
}

footer {
    border-top: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #F7F9FA;
    height: 80px;
    color: #6A6C6F;
    text-align: center;
}
